# Entorno virtual
.venv/
env/
venv/
ENV/

# Bytecode Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local de desarrollo / cache
db.sqlite3
db.sqlite3-journal
*.log

# IDE y editores
.vscode/
.idea/
*.swp
*.swo

# Staticfiles recolectados
staticfiles/
